<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Invoice Manager</title>
    <partial name="_HeadConfigPartial" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Simple Invoice Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="invoiceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Invoices
                    </a>
                    <div class="dropdown-menu" aria-labelledby="invoiceDropdown">
                        <a class="dropdown-item" asp-action="Create" asp-controller="Invoice">New</a>
                        <a class="dropdown-item" asp-action="NotPaid" asp-controller="Invoice">View only not paid</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Simple Invoice Manager</p>
        </footer>
    </main>

    <partial name="_BodyScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
